
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# some Java stuff?
.factorypath

# VSCode
.vscode
*.code-workspace

# IDEA
.idea
*.iml

# terraform
.terraform
**/.terraform/*
.terragrunt-cache/*
.terraform-version
.terragrunt-version

# AWS
.aws_env

# JS
node_modules

# VSCode Jenkins Jack configs
.*.config.json